<ion-view view-title="Clientes">
    <ion-content class="cinza">
        <div class="top borda">

            <div class="item pequeno row">
                <img src="img/clientes/700-gauss.png" class="col">
                <img src="img/clientes/artsolucao.png" class="col">
            </div>
            <div class="item pequeno row">
                <img src="img/clientes/autobraz.png" class="col">
                <img src="img/clientes/azul.png" class="col">
            </div>
            <div class="item pequeno row">
                <img src="img/clientes/bonor.png" class="col">
                <img src="img/clientes/caarn.png" class="col">
            </div>
            <div class="item pequeno row">
                <img src="img/clientes/cea-rosa.png" class="col">
                <img src="img/clientes/connect-log.png" class="col">
            </div>
            <div class="item pequeno row">
                <img src="img/clientes/diagfarma.png" class="col">
                <img src="img/clientes/distribuidora-livros.png" class="col">
            </div>
            <div class="item pequeno row">
                <img src="img/clientes/engear.png" class="col">
                <img src="img/clientes/evaristo-plast.png" class="col">
            </div>
            <div class="item pequeno row">
                <img src="img/clientes/fh-producoes.png" class="col">
                <img src="img/clientes/galvao-cia.png" class="col">
            </div>
            <div class="item pequeno row">
                <img src="img/clientes/gol.png" class="col">
                <img src="img/clientes/grafica-santa-marta.png" class="col">
            </div>
            <div class="item pequeno row">
                <img src="img/clientes/jb-produtos.png" class="col">
                <img src="img/clientes/latam.png" class="col">
            </div>
            <div class="item pequeno row">
                <img src="img/clientes/livro-ideal.png" class="col">
                <img src="img/clientes/nacional.png" class="col">
            </div>
            <div class="item pequeno row">
                <img src="img/clientes/ophbras.png" class="col">
                <img src="img/clientes/putz-faster.png" class="col">
            </div>
            <div class="item pequeno row">
                <img src="img/clientes/rvinte.png" class="col">
                <img src="img/clientes/saudental.png" class="col">
            </div>
            <div class="item pequeno row">
                <img src="img/clientes/serval.png" class="col">
                <img src="img/clientes/siplast.png" class="col">
            </div>
            <div class="item pequeno row">
                <img src="img/clientes/tia-sonia.png" class="col">
                <img src="img/clientes/untitled.png" class="col">
            </div>
        </div>
    </ion-content>
</ion-view>