<ion-view view-title="Clientes">
    <ion-content class="cinza">
        <div class="top borda">

            <a class="item item-thumbnail pequeno" href="#">
                <img src="img/clientes/700-gauss.png">
                <img src="img/clientes/artsolucao.png">
            </a>
            <a class="item item-thumbnail pequeno" href="#">
                <img src="img/clientes/autobraz.png">
                <img src="img/clientes/azul.png">
            </a>
            <a class="item item-thumbnail pequeno" href="#">
                <img src="img/clientes/bonor.png">
                <img src="img/clientes/caarn.png">
            </a>
            <a class="item item-thumbnail pequeno" href="#">
                <img src="img/clientes/cea-rosa.png">
                <img src="img/clientes/connect-log.png">
            </a>
            <a class="item pequeno" href="#">
                <img src="img/clientes/diagfarma.png">
                <img src="img/clientes/distribuidora-livros.png">
            </a>
            <a class="item item-thumbnail pequeno" href="#">
                <img src="img/clientes/engear.png">
                <img src="img/clientes/evaristo-plast.png">
            </a>
            <a class="item item-thumbnail pequeno" href="#">
                <img src="img/clientes/fh-producoes.png">
                <img src="img/clientes/galvao-cia.png">
            </a>
            <a class="item item-thumbnail pequeno" href="#">
                <img src="img/clientes/gol.png">
                <img src="img/clientes/grafica-santa-marta.png">
            </a>
            <a class="item item-thumbnail pequeno" href="#">
                <img src="img/clientes/jb-produtos.png">
                <img src="img/clientes/latam.png">
            </a>
            <a class="item item-thumbnail pequeno" href="#">
                <img src="img/clientes/livro-ideal.png">
                <img src="img/clientes/nacional.png">
            </a>
            <a class="item item-thumbnail pequeno" href="#">
                <img src="img/clientes/ophbras.png">
                <img src="img/clientes/putz-faster.png">
            </a>
            <a class="item item-thumbnail pequeno" href="#">
                <img src="img/clientes/rvinte.png">
                <img src="img/clientes/saudental.png">
            </a>
            <a class="item item-thumbnail pequeno" href="#">
                <img src="img/clientes/serval.png">
                <img src="img/clientes/siplast.png">
            </a>
            <a class="item item-thumbnail pequeno" href="#">
                <img src="img/clientes/tia-sonia.png">
                <img src="img/clientes/untitled.png">
            </a>
        </div>
    </ion-content>
</ion-view>