<ion-view view-title="Home">
    <ion-content class="nexbg">
<div class="logo-home">
                    <a class="pequeno" href="http://nordesteexpresso.com.br">
                        <img class="img-home" src="img/nex-logo.png">
                    </a>
</div>
<div class="home">
            <button ui-sref="app.solicite" class="button button-positive button-block">
                Solicite uma Coleta
            </button>
            <button ui-sref="app.services" class="button button-positive button-block">
                 Serviços
            </button>
            <button ui-sref="app.quemsomos" class="button button-positive button-block">
                 Quem Somos
            </button>
            <button ui-sref="app.clientes" class="button button-positive button-block">
                 Clientes
            </button>
            <button ui-sref="app.localizacao" class="button button-positive button-block">
                 Localização
            </button>
</div>
    </ion-content>
</ion-view>