<ion-view view-title="Localização">
    <ion-content class="cinza">
        <div id="map" data-tap-disabled="true"></div>
        <div class="loc">
            <div class="titulo">
                <b>Natal</b> (Matriz)
            </div>
            <div class="conteudo">
                Rua dos Caicos, 2305 - Loja D, NSRA. Nazaré<br>
                <b>(84) 2030-4080</b><br>
                <button class="botao-centro" ui-sref="http://nordesteexpresso.com.br/mapa/?lat=-5.817435&lng=-35.2313331"><b>Ver Mapa</b></button>
            </div>
        </div>
        <div class="loc">
            <div class="titulo">
                <b>Mossoró</b>
            </div>
            <div class="conteudo">
                Rua João Luiz G de Melo, SN Aeroporto<br>
                <b>(84) 99104-7310</b><br>
                <button class="botao-centro"><b>Ver Mapa</b></button>
            </div>
        </div>
        <div class="loc">
            <div class="titulo">
                <b>João Pessoa</b>
            </div>
            <div class="conteudo">
                Rua Alcides Bezerra, 693 Cruz Das Armas<br>
                <b>(83) 3242-0227</b><br>
                (84) 99104-9940<br>
                <button class="botao-centro"><b>Ver Mapa</b></button>
            </div>
        </div>
        <div class="loc">
            <div class="titulo">
                <b>Campina Grande</b>
            </div>
            <div class="conteudo">
                Rua Papa João XXIII, 355 Liberdade<br>
                <b>(83) 3331-4411</b><br>
                (84) 99106-2735<br>
                <button class="botao-centro"><b>Ver Mapa</b></button>
            </div>
        </div>
        <div class="loc">
            <div class="titulo">
                <b>Fortaleza</b>
            </div>
            <div class="conteudo">
                Rua Armando Monteiro, 333 Vila União<br>
                <b>(85) 3256-3299 </b><br>
                (84) 99104-6558<br>
                <button class="botao-centro"><b>Ver Mapa</b></button>
            </div>
        </div>

    </ion-content>
</ion-view>