<ion-view view-title="Quem Somos">
    <ion-content class="cinza">
<br>
        <a class="item item-thumbnail medio" href="#">
            <img src="img/caminhao.jpg">
        </a>
        <br>
        <b>Para quem precisa enviar e receber encomendas com
            rapidez e melhor custo, existe a NEX Transportes!
        </b>
        <br><br>
        Da união de dois irmãos que representam a terceira geração de
        transportadores, nasce um novo conceito de empresa. Aliando
        tecnologia de ponta e serviço diferenciado, a NEX chega ao mercado
        como opção para pessoas físicas e jurídicas, em busca de agilidade
        e segurança, na área de logística.
<br><br>
        Tendo a busca pela excelência e profissionalismo como metas a
        ser constantemente atingidas, nos comprometemos com cada coleta
        e entrega que realizamos. Chega de se aborrecer com a perda de
        prazos importantes para você, sua família e sua empresa. Nossa
        missão é facilitar a vida de quem precisa armazenar ou transportar bens.
<br><br>
        Além da vocação natural para inovação, seguimos uma filosofia de
        inclusão social e sustentabilidade, que nos guia a cada passo do
        caminho. Entendemos que temos importante papel social, na medida
        que abraçamos causas que reverberam bons frutos para a nossa comunidade.
<br><br>
        Pela nossa já comprovada experiência nos mais diversos modais de
        transporte, conseguimos montar nossa operação de modo mais rápido
        e eficiente do que atualmente é praticado no mercado. Conosco sua
        carga estará 100% segura!
        <br><br>
        <b>Atendemos suas diferentes necessidades na hora de armazenar e
            transportar o que é importante para você. Dispomos de:
        </b>
        <br>
        <ol class="lista">
            <br>
        <li class="espaco">Embalagens;</li>
        <li class="espaco">Seguro;</li>
        <li class="espaco">Rastreamento;</li>
            <li class="espaco">Representantes e agentes treinados;</li>
            <li class="espaco">Frota conta com veículos de diversos portes, como caminhões baú, caminhões trucados, furgões, utilitários e motocicletas, adequados para o transporte seguro das diferentes cargas;</li>
            <li class="espaco">Motoristas treinados e credenciados para o transporte de cargas;</li>
            <li class="espaco">Operações supervisionadas por responsáveis técnicos em logística, certificados pelo SEST/SENAT.</li>
        </ol>
        <br>
    </ion-content>
</ion-view>