<ion-view view-title="Serviços">
    <ion-content class="cinza">
        <br>
        A seguir, destacaremos nossos principais ramos de atuação.
        Mas não paramos por ai: para casos específicos, podemos enviar orçamentos customizados.

        Aqui, atendemos todas as suas necessidades de transporte e armazenamento.
<br><br>
        Oferecemos uma gama completa de serviços e produtos para encomendas expressas na região nordeste.
        Atendemos desde documentos até cargas de grande porte,
        com ou sem valor comercial, para pessoas físicas e jurídicas.
        Nosso trabalho engloba desde a coleta no endereço solicitado até a entrega segura em seu destino.

        <div class="servicos">
            <img src="img/servicos-nex.png">
        </div>
    </ion-content>
</ion-view>