<ion-view view-title="Solicite uma Coleta">
    <ion-content class="cinza">
        <div class="locais">
            Destino
        </div>
        <div class="card">
            <div class="item item-text-wrap">
                <div class="list">
<img src="img/progresso/progresso3.png" class="progresso">
                    <div class="div-form">
                        <label class="label-nex">Saída
                            <select class="select-nex">
                                <option selected>Estado</option>
                                <option>Ceará</option>
                                <option>Paraíba</option>
                                <option>Rio Grande do Norte</option>
                            </select>
                        </label>
                        <label class="label-nex">Cidade
                            <input class="form-nex" type="text" placeholder="">
                        </label>
                        <label class="label-nex">Bairro
                            <input class="form-nex" type="text" placeholder="">
                        </label>
                        <label class="label-nex">Rua
                            <input class="form-nex" type="text" placeholder="">
                        </label>
                        <label class="label-nex">Número
                            <input class="form-nex" type="text" placeholder="">
                        </label>
                        <label class="label-nex">Complementos
                            <input class="form-nex" type="text" placeholder="">
                        </label>
                        <button class="button button-positive button-block bold">
                            FINALIZAR SOLICITAÇÃO
                        </button>
                    </div>

                </div>
            </div>
        </div>
    </ion-content>
</ion-view>