<ion-view view-title="Solicite uma Coleta">
    <ion-content class="cinza">
        <div class="locais">
            Locais de Coleta e Entrega: RN, CE e PB - Capitais e Interiores
        </div>
        <div class="card">
            <div class="item item-text-wrap">
                <div class="list">
<img src="img/progresso/progresso1.png" class="progresso">
                    <div class="div-form">
                        <label class="label-nex">Nome
                            <input class="form-nex" type="text" placeholder="">
                        </label>
                        <label class="label-nex">Empresa
                            <input class="form-nex" type="text" placeholder="">
                        </label>
                        <label class="label-nex">CPF/CNPJ
                            <input class="form-nex" type="text" placeholder="">
                        </label>
                        <label class="label-nex">Telefone
                            <input class="form-nex" type="text" placeholder="">
                        </label>
                        <label class="label-nex">E-mail
                            <input class="form-nex" type="email" placeholder="">
                        </label>
                        <label class="label-nex">Serviço
                            <select class="select-nex">
                                <option selected>Pequenos Volumes</option>
                                <option>Cargas e Encomendas</option>
                                <option>Mudança</option>
                                <option>Frete Fechado</option>
                            </select>
                        </label>
                        <button class="button button-positive button-block bold" ui-sref="app.solicite2">
                            CONTINUAR SOLICITAÇÃO
                        </button>
                    </div>

                </div>
            </div>
        </div>
    </ion-content>
</ion-view>