<ion-view view-title="Solicite uma Coleta">
    <ion-content class="cinza">
        <div class="locais">
            Dados do Local de Destino
        </div>
        <div class="card">
            <div class="item item-text-wrap">
                <div class="list">
                    <img src="img/progress/progresso3.png" class="progresso">
                    <div class="div-form">
                        <label class="label-nex">Estado Destino<br>
                            <select class="select-nex" ng-model="entrega.estadodestino">

                                <option value="Ceará">Ceará</option>
                                <option value="Paraíba">Paraíba</option>
                                <option value="Rio Grande do Norte">Rio Grande do Norte</option>
                            </select>
                        </label>
                        <label class="label-nex">Cidade
                            <input class="form-nex" type="text" placeholder="" ng-model="entrega.cidadedestino">
                        </label>
                        <label class="label-nex">Bairro
                            <input class="form-nex" type="text" placeholder="" ng-model="entrega.bairrodestino">
                        </label>
                        <label class="label-nex">Rua
                            <input class="form-nex" type="text" placeholder="" ng-model="entrega.ruadestino">
                        </label>
                        <label class="label-nex">Número
                            <input class="form-nex" type="text" placeholder="" ng-model="entrega.numerodestino">
                        </label>
                        <label class="label-nex">Complementos
                            <input class="form-nex" type="text" placeholder="" ng-model="entrega.complementodestino">
                        </label>
                        <button class="button button-positive button-block bold" ui-sref="app.solicite4({entrega: entrega})">
                            CONTINUAR SOLICITAÇÃO
                        </button>
                    </div>

                </div>
            </div>
        </div>
    </ion-content>
</ion-view>